<footer class="footer bg-dark text-light py-4 mt-5">
  <div class="container text-center">
    <p class="mb-0">&copy; 2025 High-Value Data Network. Last updated on {{ page.date | toISODate }}.
    </p>
  </div>
</footer>
